{% extends "base.html" %}

{% block content %}
    <h1>Your holidays</h1>
    <div class="holiday-list">
    {% for holiday in object_list %}
        <div class="holiday-list-item" {% if holiday.cover_image %} style="background-image: url('{{ holiday.cover_image.url }}');" {% endif %}>
            <div class="holiday-list-text">
                <a class="blank-link" href="{% url 'holiday-detail' slug=holiday.slug %}"><h2>{{ holiday.name }}</h2></a>
                <div>
                    <a class="orange-button" href="{% url 'holiday-update' slug=holiday.slug %}">Edit</a>
                    <a class="orange-button" href="{% url 'holiday-delete' slug=holiday.slug %}">Delete</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="holiday-list-empty">No holidays yet.</div>
    {% endfor %}
    </div>
{% endblock %}